<header class="header">
  <div class="container menu">
    <a class="logo" href="#">
      <svg class="logo__svg">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
      <!-- <embed src="img/logo.svg" class="logo__svg"> -->
      <!-- <img src="img/logo.png" alt="logo"  > -->
    </a>
    <nav class="nav">
      <form action="" method="post" class="search__box" >
        <span class="search__img _icon-search"></span>
        <input id="search" class="search__input" name="search" type="text" placeholder="What're we looking for ?">
        <button class="search__btn" type="submit">
          <span class="_icon-search"></span>
        </button>
      </form>
      <a href="tel:+1234567890" class="call__us _icon-mob-vibration">
        <span class="call__us_text">Call us</span></a>
      <ul class="nav__item">
        <li><a href="#">Aboute</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <button class="button__maine btn-reset">Download</button>
      <button class="button__secondary btn-reset">Sing up</button>
    </nav>
    <div class="header__burger" aria-label="Відкрити меню">
      <div class="burger__btn">
        <span></span>
      </div>
    </div>
  </div>
</header>
