<div id="popup" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <img src="img/popup-img 1.jpg" alt="laptop" class="popup__img">
      <div class="popup__close close-popup">
        <span></span>
      </div>
      <div class="popup__info">
        <h3 class="popup__title">Sed ut perspiciatis</h3>
        <div class="popup__text">
          <p>
            Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, ut enim ad minima veniam, quis nostrum exercitationem ullam corporis.
          </p>
        </div>
        <form action="" method="post" class="popup__form" >
          <input id="mail-popup" class="popup__input" name="mail" type="text" placeholder="deine@email.com">
          <input id="name-popup" class="popup__input" name="name" type="text" placeholder="Name">
          <button class="btn__popup" type="submit">
            Ja, ich möchte!
          </button>
        </form>

      </div>
    </div>
  </div>
</div>
