// COLORS
:root {
  --color-white: #FFFFFF;

  --color-primary: #C774EE;
  --color-bg: #F9FAFC;
  --color-add: #FEE5FF;

  --color-text-blue-dark: #111563;
  --color-text-blue-light: #286DBD;
  --color-text-button-light: #63718E;
  --color-text-main: #3A3A3A;
  --color-text-add-light: #BAD9E7;

  --color-shadow-success: #C774EE;
  --color-shadow-primary: #FFFFFF;

}
